<% layout("/layouts/boilerplate.ejs") %>
<style>
    .contsin {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    #font {
        font-weight: 600;
    } 
    .created-exam {
        border: 1px solid #eee;
        box-shadow: 5px 5px 5px  #eee;
        width: 30%;
        margin:1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .created-exam-sub{
        width: 90%;
        margin: 10px;
    }
    .created-exam-sub1 {
        width: 90%;
        margin: 8px;
        font-size: 2rem;
        font-weight: 600;
    }
    .created-exam-sub2 {
        width: 90%;
        margin: 8px;
        font-size: 1rem;
        color: #9EA0A3;
        font-weight: 600;
    }
    .created-exam-sub3 {
        width: 40%;
        margin: 8px;
    }
    .created-exam-sub2 i {
        padding-right: 5px;
    }
    .exam-start-button {
        padding-left: 12rem ;
    }

</style>


<div class="container contsin">
    <h2 id=font>Enrollment Requests</h2>
        <div class="contsin">
            <% for(exam of approveExam) { %>
                <div class="created-exam">
                    <div class="created-exam-sub">
                        <div class="created-exam-sub1">
                            <%= exam.examName %>
                        </div>
                        <div class="created-exam-sub2">
                            <li><i class="fa-solid fa-calendar"></i> <%= exam.created_at.toLocaleDateString() %></li>
                        </div>
                        <div class="row">
                            <div class=" exam-start-button col">
                                <form action="/approveExam/<%= exam._id %>/student" method="GET">
                                    <button class="btn btn-success">Approve Requests</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>    
</div>   

