<% layout("layouts/boilerplate.ejs") %>

<div class="responsive-container-block bigContainer ">
    <div class="responsive-container-block Container">
      <p class="text-blk heading">
        About Us
      </p>
      <p class="text-blk subHeading">
        <h2 style="font-weight: 600;">Welcome to [Your Online Exam Portal Name]</h2>
        <p>At [Your Online Exam Portal Name], we are committed to revolutionizing the way students prepare for their exams. Our platform offers a comprehensive suite of tools and resources designed to empower learners to succeed academically with confidence.</p>
        <h2 class="text-centered mt-3" style="font-weight: 600;">Our Mission</h2>
        <p>Our mission is simple: to provide students with an intuitive and effective online platform for exam preparation. We believe that education should be accessible to all, and our portal strives to make learning engaging, convenient.</p>
      </p>
      <div class="social-icons-container">
        <a class="social-icon" href="https://www.facebook.com/">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
        </a>
      </div>
    </div>
</div>