<% layout("layouts/boilerplate.ejs") %>

<div class="container  mt-5 mb-5">
    <div class="pra-heading mb-3">
        <h1>Pratice Tests</h1>
    </div>
    <div class="pratice-cont">
        <a href="/praticetest"> 
            <div class="card-txt">
                <h1>Java Script</h1>
                <div class="content">
                    <h3>Java Script</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
           </div>
        </a>
        <a href="/pythonPraticeTest">
            <div class="card-txt">
                <h1>Python</h1>
                <div class="content">
                    <h3>Python</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </a>
        <a href="/javaPraticeTest">
            <div class="card-txt">
                <h1>Java</h1>
            <div class="content">
                <h3>Java</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
           </div>
        </a>
        <a href="/cPraticeTest">
            <div class="card-txt">
                <h1>C Programming</h1>
                <div class="content">
                    <h3>C</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </a>
        <a href="/ccPraticeTest">
            <div class="card-txt">
                <h1>C ++ </h1>
                <div class="content">
                    <h3>C++</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
               </div>
        </a>
           
    </div>
      
</div>