<% layout("/layouts/boilerplate.ejs") %>  

<div class="main_login ">
    <div class="main_login1">
        <img src="/images/Computer login-rafiki.png" alt="">
    </div>
    <div class="main_login2 ">
        <div class="login">
            <h2>Login</h2>
            <p id="detail">Hey enter your details to sign into your account</p>
            <form action="/login" method="post" class="needs-validation app" novalidate >
                <div class="mb-3 login-username">
                <label for="username" class="form-label"></label>
                <i class="fa-solid fa-user"></i>
                <input name="username" type="text" placeholder="Enter your username" class="form-control" id="username" required>
                </div>
                <div class="mb-3 login-password">
                    <label for="password" class="form-label"></label>
                    <i class="fa-solid fa-lock"></i> 
                    <input name="password" type="password" placeholder="Enter your Password" class="form-control" id="password" >
                </div>
                <button class="login_btn">Log in</button>
            </form>
            <p class="login_sign">Don't have an account? <a href="/signup">Signup Now</a></p> 
        </div>
    </div>
</div>